@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply bg-background text-foreground font-inter overflow-x-hidden;
  }
}

@layer components {
  .auth-container {
    @apply xl:mx-auto max-w-[1200px] h-svh md:overflow-x-visible overflow-x-hidden w-full xl:px-0 px-5;
  }

  .container {
    @apply max-w-[1200px] xl:mx-auto xl:px-0 sm:px-5 px-2;
  }
}

@layer utilities {
  .input-errors-underline::spelling-error {
    @apply underline underline-offset-2 decoration-rose-400 decoration-solid;
  }

  .input-errors-bg::spelling-error {
    @apply bg-rose-400/10;
  }

  .without-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .without-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .custom-outline {
    @apply focus-visible:outline-second outline-none outline-2;
  }
}

.simplebar-scrollbar::before {
  @apply bg-foreground w-[6px];
}
